@keyframes animate-blink {
  0%   { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.Clock .time {
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
}

.Clock .time > span {
    display: block;
    width: auto;
}

.Clock .seconds {
    font-size: 50%;
    min-width: 18%;
}

.Clock .blink {
    animation: 'animate-blink' 1s infinite;
}