@font-face {
    font-family: 'Dusha';
    src: url(dusha.eot) format('embedded-opentype'), 
        url(dusha.woff2) format('woff2'),
        url(dusha.woff) format('woff'),
        /* url(dusha.ttf)  format('truetype'), */
        url(dusha.svg#svgFontName) format('svg');
        font-weight: normal;
        font-style: normal;
}

.WorldCup {
    background-color: #0f4583;
    background-image: url(https://www.fifa.com/assets/img/tournaments/17/2018/common/fwc_darkbluebg.png);
    background-size: cover;
}

.WorldCup h3 {
    color: #f7f2af;
    text-shadow: 0 4px 18px rgba(0, 0, 0, 0.55);
    font-family: 'Dusha';
}

.WorldCup li {
    font-size: 5vw;
    font-family: 'Dusha';    
}

.WorldCup li .watched {
    display: inline-block;
    padding-right: 54px;
    background-repeat: no-repeat;
    background-size: auto 33px;
    background-position: 100% 50%;
}

.WorldCup .Nigeria {
    background-image: url(ng.svg);
}

.WorldCup .England {
    background-image: url(en.svg);
}

.WorldCup .France {
    background-image: url(fr.svg);
}

.WorldCup .Spain {
    background-image: url(es.svg);
}

.WorldCup .Uruguay {
    background-image: url(uy.svg);
}

.WorldCup .Germany {
    background-image: url(de.svg);
}

.WorldCup .Brazil {
    background-image: url(br.svg);
}

.WorldCup .Mexico {
    background-image: url(mx.svg);
}