.Greeting {
    background-color: tan;
    background-image: url('images/london-eye-2014-new-years-eve-fireworks.gif');
    background-size: cover;
}

.App .applet.active.Greeting .main-title {
    font-size: 17vw;
    letter-spacing: 4px;
}